.ligne{
     display: flex;
}

button{
     width: 60px;
     height: 60px;
     border-radius: 50%;
     border: none;
     box-shadow: 1px 0px 3px;
     margin: 5px;
     background-color: transparent;
     color: rgb(9, 9, 9);
}

.zero{
     height: 60px;
     width: 130px;
     border-radius: 30px;
}

p{
     margin-top: 18px;
     font-size: 18px;
     font-weight: bold;
}

.result{
     width: 93%;
     height: 60px;
     border: transparent;
     border-radius: 5px;
     box-shadow: 0px 0px 3px;
     margin: 15px 5px;
     font-size: 30px;
     font-weight: bold;
}

.box{
     justify-content: center;
     margin: auto;
     margin-top: 100px;
     box-shadow: 1px 1px 3px;
     border: none;
     width: 19%;
     padding-left: 3px;
     padding-top: 7px;
     padding-bottom: 7px;
     border-radius: 10px;
}

.violet{
     color: rgb(70, 1, 70);
}
